################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
python = python2.4
executable = python2.4
parts = part
hooks-directory = ${buildout:directory}/hooks
[config]
url-swig = http://${mirrors:sourceforge}/swig/swig-1.3.38.tar.gz?use_mirror=switch
configure=  --with-python=${buildout:directory}/../../dependencies/python-2.4/parts/part/bin/python
            --with-perl5=${buildout:directory}/../../dependencies/perl-5.8/parts/part/bin/perl
[part]
minitage-dependencies = python-2.4
recipe = minitage.recipe:cmmi
url=${config:url-swig}
configure-options = ${config:configure}
[site-packages-2.4]
ùd5sum=650c774917be49c526a4f8a3e733c898
minitage-dependencies = python-2.4
recipe = minitage.recipe:cmmi
url=${config:url-swig}
configure-options = ${config:configure}
[site-packages-2.5]
ùd5sum=650c774917be49c526a4f8a3e733c898
minitage-dependencies = python-2.5
recipe = minitage.recipe:cmmi
url=${config:url-swig}
configure-options = ${config:configure}
[mirrors]
sourceforge = prdownloads.sourceforge.net

